{% comment %} {% assign avg_rating = block.settings.product.metafields.demo.avg_rating.value | round %} {% endcomment %}
<div
  id="vue-app"
  data-product-id="{{ product.id | json }}"
  data-shop-id="{{ shop.id | json }}"
  data-shop-domain="{{ shop.domain }}"
  data-customer-id="{{ customer.id }}"
></div>

<script type="module" src="{{ 'vue-source.js' | asset_url }}" defer></script>
<script type="module" src="{{ 'star-rating.js' | asset_url }}" defer></script>

{% schema %}
{
  "name": "Star Rating",
  "target": "section",
  "settings": [
    { "type": "product", "id": "product", "label": "product", "autofill": true },
    { "type": "color", "id": "colour", "label": "Star Colour", "default": "#ff0000" }
  ]
}
{% endschema %}
